<form
  [formGroup]="regForm"
  (keydown.enter)="$event.preventDefault()"
  class="form"
  (ngSubmit)="onSubmit()"
>
  <app-input
    class="form__item"
    formControlName="name"
    [label]="'REG-FORM.NAME' | translate"
    [errorField]="'name'"
    [placeholder]="'REG-FORM.NAME-PL' | translate"
  ></app-input>

  <app-input
    class="form__item"
    formControlName="email"
    [errorField]="'email'"
    [label]="'REG-FORM.EMAIL' | translate"
    [placeholder]="'example@email'"
  ></app-input>

  <app-input
    class="form__item"
    formControlName="password"
    [label]="'REG-FORM.PASSWORD' | translate"
    [errorField]="'password'"
    [placeholder]="'REG-FORM.PASSWORD-PL' | translate"
    [isInVisible]="isPasswordInVisible"
    [suffix]="password_icon"
  ></app-input>

  <app-input
    class="form__item"
    formControlName="confirmPassword"
    [errorField]="'confirmPassword'"
    [label]="'REG-FORM.CONF-PASSWORD' | translate"
    [placeholder]="'REG-FORM.CONF-PASSWORD-PL' | translate"
    [isInVisible]="isPasswordInVisible"
    [suffix]="password_icon"
  ></app-input>

  <app-select
    class="form__item"
    formControlName="languages"
    [label]="'REG-FORM.SELECT' | translate"
    [options]="languages"
    [multiple]="true"
    [errorField]="'languages'"
    [placeholder]="'REG-FORM.SELECT-PL' | translate"
  ></app-select>

  <div formArrayName="phones" class="mb-20">
    <div
      *ngFor="let phone of phones.controls; let i = index"
      class="form__item form__array__block"
    >
      <app-input
        class="form__array__item"
        formControlName="{{ i }}"
        [label]="'REG-FORM.PHONE' | translate"
        [placeholder]="'+123456789'"
        [errorField]="'phones'"
      ></app-input>
      @if( i > 0){
      <app-delete-button
        (click)="deletePhone(i)"
        class="form_array_delete_btn"
      ></app-delete-button>
      }
    </div>
    <button type="button" (click)="addPhone()" class="second-button">
      {{ "REG-FORM.PHONE-ADD" | translate }}
    </button>
  </div>

  <button class="submit-button" (click)="onSubmit()">{{ "BUTTONS.SUBMIT" | translate }}</button>
</form>

<ng-template #password_icon>
  <div
    class="password_icon"
    (click)="togglePasswordVisible()"
    [ngClass]="{ 'crossed-out': isPasswordInVisible }"
  ></div>
</ng-template>
