$gray: #333;
$light-gray: #c0c0c0;
$error-color: #f75555;
$blue: #4070f4;
$border-color: #dddddd;

.container{
  max-width: 320px;
  width: 100%;
  .label{
    font-size: 16px;
    color: $gray;
    margin-bottom: 10px;
    transition: 0.2s;
  }
  .container__item{
    width: calc(100% - 32px);
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $border-color;
    transition: 0.2s;
    border-radius: 8px;
    .container__item__input{
      height: 50px;
      width: 85%;
      color: $gray;
      font-size: 17px;
      border: none;
      cursor: pointer;
      &:focus{
        outline: none;
      }
      &::placeholder{
        color: $light-gray;
      }
    }
    img{
      cursor: pointer;
    }
  }
  &.focused{
    .container__item{
      border-color: $blue;
    }
    .label{
      color: $blue;
    }
  }
  &:hover{
    .container__item{
      border-color: $blue;
    }
    .label{
      color: $blue;
    }
  }
  &.error{
    .container__item{
      border-color: $error-color;
    }
    .label{
      color: $error-color;
    }
  }
}

.error-block{
  font-size: 14px;
  color: $error-color;
  margin-top: 5px;
}
