<div class="container" [ngClass]="{ focused: isFocused , error: isInValid }">
  <div class="label">
    {{ label }}
  </div>
  <div class="container__item">
    <input
      [type]="isHide ? 'password' : 'text'"
      class="container__item__input"
      (focus)="onFocus()"
      (focusout)="onFocusOut()"
      [(ngModel)]="value"
      [placeholder]="placeholder"

    />
    <img
      [src]="!isHide ? imgUrl : imgUrlClicked"
      alt="eye icon"
      width="25px"
      (click)="isHide = !isHide"
    />
  </div>
</div>

<div class="error-block" *ngIf="isInValid">
  {{ errorMessage }}
</div>
